//import partials.  Allows code to be more moduler.
//if in a different folder, make sure the path is correct
@import "partials/variables";
@import "partials/mixins";

@include google-font("Alegreya+Sans");
@include google-font('Titillium+Web');


// CSS import methods
// @import url();
// @import "http://";
// @import "filename.css";
// @import "sylte-screen" screen;

// mixing being used globally
@include fancy-links;

body {
  font-family: $text-font;
  color: $text-color;

  @include large-screens {
		font-size: 125%;

  }
}

h1, h2, h3, h4 {
  font-family: $headline-font;
}

h2{
	@include large-text;
}

p {
  font-family: $text-font;
}

a {
	color: $link-color;
}

.warning-button{
	@include warning;
	padding: 8px 12px;
}

@include apply-to-ie-6 {
	body{
		font-size:125%;
	}
}


#header {
	//if you are only going to used one variable
	//you have to specify which one.  Below $border is used and $radius is left as default.
	//you can also flip $border and #radius if you specify them as below.
	@include box($border: 1px solid #999, $radius: 12px);
	//box-shadow using 2 arguments
	@include box-shadow(2px 0px 4px #999, 1px 1px 6px $secondary-color);
	height: $header-height;
	background-color: $theme-color;
  #main-menu {
	li{
		display: inline;
	}

  	a{
  		color: $menu-item-color;
  	}

  }
  
  #logo {

  }
}

#main {
	width: $content-width;
	@include large-screens {
		width: auto;
		max-width: $content-width;
	}
	margin-left: auto;
	margin-right: auto;

  #content {
  }

  #sidebar {
  }
}

#footer {
height: $footer-height;
background-color: $ternary-color;
}
