@mixin tiny-screens(){
	@media only screen and (max-width: 320px){
		@content;
	}
}

@mixin small-screens(){
	@media only screen and (max-width: 480px){
		@content;
	}
}

@mixin medium-screens(){
	@media only screen and (max-width: 680px){
		@content;
	}
}

@mixin large-screens(){
	@media only screen and (max-width: 960px){
		@content;
	}
}

@mixin google-font($font) {
	$font: unqoute($font);
	@import url(https://fonts.googleapis.com/css?family=#{$font})
}

@mixin warning{
	background-color: orange;
	color: white;

	&:hover{
		background-color: lighten(orange, 10%);
	}
}

//... allows you to pass as many values as you want.
@mixin box-shadow($shadows...){
	box-shadow: $shadows;
	-moz-box-shadow: $shadows;
	-webkit-box-shadow: $shadows;
}

@mixin apply-to-ie-6{
	* html{
		@content;
	}
}

@mixin large-text{
	font:{
		size: 22px;
		weight: bold;
	}
}

@mixin rounded($radius: 6px) {
	border-radius: $radius;
}

// variables with default.  If no value is given, default will be used.
//partial defaults can be used as well.

@mixin box($radius: 6px, $border: 1px solid #000){
	// using a mixin within a mixin
	@include rounded($radius);
	border: $border;
}

@mixin fancy-links{
	a{
		font-style: italic;
		text-decoration: none;
	}
}